.rm {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border: 1px solid #d0d4d9;
    border-radius: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.rm-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #1b1b1b;
    text-align: center;
    margin-bottom: 1rem;
}

.rm-field-container {
    border: 1px solid #d0d4d9;
    border-radius: 10px;

    height: 2.5rem;

    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.rm-field-container:focus-within {
    border: 2px solid black;
}

.rm-field-icon-container {
    display: flex;
    margin-left: 0.5rem;
}

.rm-display-name-container {
    display: flex;
    gap: 1rem;
}

.rm-display-name-container .rm-field-container {
    width: 13rem;
}

.rm-display-name-container .rm-field-container > input {
    width: 10rem;
}

.rm-field-first-name,
.rm-field-last-name,
.rm-field-username,
.rm-field-password,
.rm-field-email,
.rm-field-confirm-password {
    border: none;
    outline: none;
    
    flex: 1;
    
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.rm-field-password,
.rm-field-confirm-password {
    letter-spacing: 1.5px;
}

.rm-field-password::placeholder,
.rm-field-confirm-password::placeholder {
    letter-spacing: initial;
}

.rm-reset-password-button {
    align-self: flex-end;
    font-family: 'Inter';
    font-weight: bold;

    color:#6d6d6d;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.rm-reset-password-button:hover {
    text-decoration: underline;
}

.rm-toggle-password-container {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.rm-toggle-password-button {
    border: none;
    padding: 0.2rem;
    border-radius: 6px;
    transition: background-color 0.1s ease-out;
    font-size: 1rem;
}

.rm-toggle-password-button > svg {
    transform: translateY(8%);
}

.rm-toggle-password-button:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

.rm-toggle-password-button:active {
    transform: translate(1px, 1px);
}

.rm-existing-acc-container {
    display: flex;
    margin-top: 1rem;
    gap: 0.2rem;
    align-self: center;
}

.rm-existing-acc-text {
    font-family: 'Inter';
    font-weight: bold;

    color:#6d6d6d;
}

.rm-existing-acc-button {
    font-family: 'Inter';
    font-weight: bold;

    color: #6d33aa;
    text-decoration: none;
}

.rm-existing-acc-button:hover {
    text-decoration: underline;
}