NODE_ENV=

# App
APP_NAME=
PORT=
FRONTEND_ORIGIN=

# MongoDB
MONGODB_URI=

# Token secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
RESET_PASSWORD_ACCESS_TOKEN_SECRET=

# SMTP
SMTP_MOCK=
SMTP_PROVIDER=
SMTP_EMAIL=
SMTP_PASS=