.fpm {
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    border: 1px solid #d0d4d9;
    border-radius: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
}

.fpm-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #1b1b1b;
    text-align: center;
}


.fpm-field-container {
    border: 1px solid #d0d4d9;
    border-radius: 10px;

    height: 2.5rem;

    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.fpm-field-container:focus-within {
    border: 2px solid black;
}

.fpm-field-icon-container {
    display: flex;
    margin-left: 0.5rem;
}

.fpm-field-username-email,
.fpm-field-otp,
.fpm-field-new-password,
.fpm-field-confirm-new-password {
    border: none;
    outline: none;

    flex: 1;

    padding: 0.5rem;
    margin-right: 0.5rem;
}

.fpm-resend-code-container {
    display: flex;
}

.fpm-resend-code-button {
    margin-left: auto;
    font-family: 'Inter';
    font-weight: bold;

    color: #6d6d6d;
    text-decoration: underline;
    margin-top: 0.2rem;

    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.fpm-toggle-password-container {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.fpm-toggle-password-button {
    border: none;
    padding: 0.2rem;
    border-radius: 6px;
    transition: background-color 0.1s ease-out;
    font-size: 1rem;
}

.fpm-toggle-password-button>svg {
    transform: translateY(8%);
}

.fpm-toggle-password-button:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

.fpm-toggle-password-button:active {
    transform: translate(1px, 1px);
}

.fpm-error {
    background-color: rgba(255, 42, 42, 0.555);
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9rem;
}

.fpm-info {
    background-color: rgba(42, 255, 42, 0.555);
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;

    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9rem;

    white-space: pre;
}

.fpm-verification-text {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 0.9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    text-align: center;
}

.fpm-email {
    font-weight: 900;
    font-size: 1.1rem;
    margin: 1rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fpm-continue-button {
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: #f4eaff;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1rem;
    color: #6d33aa;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
}

.fpm-continue-button:hover {
    background-color: #e8d3ff;
}