.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  padding: 1rem;
  margin: 1rem;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  border: 1px solid #d0d4d9;
  grid-area: sidebar;
}

.separator {
  height: 1px;
  background-color: #d0d4d9;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
}

.sidebar-hamburger-button {
  height: 2.5rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #e7e7e7;
  border: none;
  border-radius: 1rem;
  grid-area: sidebar-hamburger-button;
  display: none;
}

.sidebar-hamburger-button:hover {
  cursor: pointer;
  background-color: #dadada;
}

@media screen and (max-width: 680px) {
  .sidebar, .separator {
    display: none;
  }
  .sidebar-hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}