.sort-button {
    height: 2.5rem;
    width: 6rem;
    margin: 1rem;
    background-color: #e7e7e7;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    grid-area: sort-button;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.4rem
}

.sort-button:hover {
    background-color: #dadada;
}

.sort-button-icon {
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .sort-button-text {
        display: none;
    }
    .sort-button {
        height: 2.5rem;
        width: auto;
        padding: 1rem;
    }
}