.create-note-bar {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 50%;
    min-width: fit-content;
    max-width: calc(100% - 2rem);
    transform: translateX(calc(-50% - 1.5rem)) scaleX(0);
    background-color: white;
    padding: 1rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #d0d4d9;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    font-family: 'Inter', sans-serif;
    font-weight: bold;

    display: flex;
}

.create-note-bar.hidden {
    opacity: 0;
    pointer-events: none;
}

.create-note-bar.visible {
    transform: translateX(calc(-50% - 1.5rem)) scaleX(1);
    opacity: 1;
}

.add-note-buttons-container {
    display: flex;
    gap: 0.6rem
}

.add-note-button,
.add-note-image-button {
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 8px;
    border: none;
    background-color: transparent;
}

.add-note-button:hover,
.add-note-image-button:hover {
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

.add-note-icon {
    color: rgb(119, 119, 119);
}

.add-note-image-icon {
    color: rgb(119, 119, 119);
}

.record-note-button-container {
    margin-left: auto;
    background-color: #fd302f;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: white;

    transition: scale 0.2s ease-in-out;
}

.record-note-button-container:hover {
    background-color: #ff2525;
    cursor: pointer;
    scale: 105%
}

@media screen and (max-width: 871px) {
    .record-note-button-text {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .create-note-bar {
        margin-left: 1rem;
    }

    .record-note-button-text {
        display: inline;
    }
}

@media screen and (max-width: 540px) {
    .record-note-button-text {
        display: none;
    }
}

@media screen and (max-width: 314px) {
    .record-note-button-container {
        margin-left: 1rem;
    }
}